

.carousel-item {
  height: 650px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}


.info-table {
  background: rgb(95, 120, 126);
  width: fit-content;
  height: fit-content;
  padding-bottom: 0.25em;
}

td {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.75em;
    width: 50%;
}

tr {
    border-bottom: 1px solid rgba(0, 25, 212, 0.3) !important;
}


.content img {
  width: 600px;
  height: 400px;
}

